<section class="opl-footer page-width">
  <div class="opl-footer__logo">
    <img src="{{ 'gold-wreath.svg' | asset_url }}" alt="Gold wreath logo" width="52" height="52">
  </div>

  <div class="opl-footer__content">

    <!-- Footer Columns -->
    <div class="footer-actions">

      <!-- Services -->
      <div class="services-actions">
        <h2 class="action-header">Shop</h2>
        <ul class="unordered-list">
          <li><a href="/collections/pre-workout">Pre-Workout</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Company -->
      <div class="about-actions">
        <h2 class="action-header">Company</h2>
        <ul class="unordered-list">
          <li><a href="/pages/terms-of-service">Terms of Service</a></li>
          <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
          <li><a href="/pages/prop-65">Prop 65</a></li>
           <li><a href="/pages/refund-policy">Refund Policy</a></li>

        </ul>
      </div>

    </div> 

    <div class="disclaimer"> 

    </div>

    <!-- Social -->
    <div class="social-icons">
      <a href="https://www.instagram.com/olympus_performance_labs/" target="_blank">
    <img src="{{ 'instagram.png' | asset_url }}" alt="Instagram">
  </a>
  <a href="https://www.tiktok.com/@olympus_performance_labs?_r=1&_t=ZT-94uaVekQ0kQ" target="_blank">
    <img src="{{ 'tik-tok.png' | asset_url }}" alt="Instagram">
  </a>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>© {{ 'now' | date: '%Y' }} Olympus Performance Labs. All rights reserved.</p>
      <p>These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. Individual results may vary.</p>
    </div>

  </div>
</section>
    


    <!----
    <h3>Olympus Performance Labs</h3>
    <p>Olympus Performance Labs builds premium performance supplements designed for athletes who value discipline, performance, and transparency.</p>

    <div class="opl-footer__links">
      <a href="/collections/pre-workout">Shop</a>
      <a href="/pages/about">About</a>
      <a href="/pages/contact">Contact</a>
      <a href="https://www.instagram.com/olympus_performance_labs/" target="_blank" rel="noopener">Instagram</a>
    
      
    </div>
    <div class="opl-footer_company">
      <p>Company</p>
      <a href="/pages/contact">Terms Of Use</a>
      <a href="/pages/contact">Privacy Policy</a>
      <a href="/pages/contact">Prop 65</a>
      <a href="/pages/contact">Athletes</a>


    </div>
  </div> 
  <!-->
</section>

{% schema %}
{
  "name": "OPL Footer",
  "settings": [],
  "presets": [{ "name": "OPL Footer" }]
}
{% endschema %}
